{% extends "./layout.html" %}
{% import "./components/portflio_carousel.html" as portfolio_carousel with context %}
{% import "./components/site_footer.html" as site_footer with context %}
{% block title %}Portfolio{% endblock %}
{% block navbar_class %}navbar-default{% endblock %}
{% block content %}
<div class="section-container">
  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
          <div class="text-center">
            <h1 class="h2">02 : Portfolio</h1>
            <p>Nulla facilisi. Vivamus vestibulum, elit in scelerisque ultricies, nisl nunc pulvinar ligula, id sodales arcu sapien in nisi. Quisque libero enim, mattis non augue posuere, venenatis dapibus urna.</p>
          </div>
        </div>
        <div class="col-md-12">
          <!--/Carousel-->
          {{ portfolio_carousel.portfolio_carousel(projects, count) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
{{ site_footer }}
{% endblock %}
