<div class="col-md-5 address-container">
    <ul class="list-unstyled">
      <li>
        <span class="fa-icon">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </span>
        + 31 2 07 45 12 65
      </li>
      <li>
        <span class="fa-icon">
          <i class="fa fa-at" aria-hidden="true"></i>
        </span>
        e-mail@mail.io
      </li>
      <li>
        <span class="fa-icon">
          <i class="fa fa fa-map-marker" aria-hidden="true"></i>
        </span>
        straat 123 1100AB Amsterdan
      </li>
    </ul>
    <h3>Follow me on social networks</h3>
    <a href="http://www.facebook.com" title="" class="fa-icon">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="http://www.twitter.com" title="" class="fa-icon">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="http://www.linkedin.com" title="" class="fa-icon">
      <i class="fa fa-linkedin"></i>
    </a>
</div>
