{% import './components/portfolio_card.html' as portfolio_card %}
{% macro portfolio_carousel(projects, count) -%}
<div id="myCarousel" class="carousel slide projects-carousel">
    <!-- Carousel items -->
    <div class="carousel-inner">
        {% for row in projects %}
        <div class="item{% if loop.index == 1 %} active {% endif %}">
            <div class="row">
                {% for item in row %}
                    {{ portfolio_card.portfolio_card(
                        name=item['name'],
                        slug=item['slug'],
                        image=item['image'],
                        index=item['id'],
                        description=item['description'],
                        count=count
                    ) }}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <!--/carousel-inner-->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>
{%- endmacro %}
